body {
  background: url('images/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  background-color: #82a6f3;
}
.body-about {
  background: url('images/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size:contain;
  background-color: #82a6f3;
}
.navbar, .content {
    border: 1px solid black;
    margin: 10px;
    background-color: #ffffff;
    font-size: large;
    font-weight: bold;
}
.content {
    padding: 20px;
    font-size: large;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}

#txt{
  display: flex;
   text-align: left;
   max-width:69%;
   font-family: 'Rubik', sans-serif;
}

.content p {
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding-top: 50px;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 50px;
}
  
.grid-item {
    background-color: #ffffff;
    padding: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');


  
  #cover {
    width: 500px;
    height: 500px;
    margin: 0 auto;
  }
  
  #cover > img {
    float: left;
    border: 3px solid black;
    width: 45%;
    margin: 1.66%;
  }
  .footer{
    margin-top:150px;
    width:100%;
    padding:100px 15%;
    background:#333;
    color:#000000;
    font-weight: bold;
    display: flex;
  }
  
  
  .footer {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Rubik', sans-serif;
  }
  .footer {
    flex-basis: 30%;
  }
  .footer h3 {
    margin-bottom: 10p
  }
  .column-1 a{
    display:block;
    text-decoration:none;
    color:#000000;
    font-weight:bold;
    margin-bottom: 10px;
    font-family: 'Rubik', sans-serif;
  }
  form input{
    width:400px;
    height:45px;
    border-radius:4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom:40px;
    outline:#000000;
    border:#000000;
    font-family: 'Rubik', sans-serif;
  }
  form button{
    background:transparent;
    border:2px solid #82a6f3;
    color:#82a6f3;
    border-radius:30px;
    padding:10px 30 px;
    font-size:15;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
  }
  .img1{
    display: flex;
    align-content: right;
   
    position: relative;
    top:-105px;
    
    margin-left: -120px;
    margin-top: -505px;

    height: 400px;
    width: 545px;
    left:1438px;
  }
  .img2{
    display: flex;
    align-content: right;
   
    position: relative;
    top:20px;
    
    margin-left: -120px;
    margin-top: -85px;

    height: 400px;
    width: 545px;
    left:1438px;
  }
  .abouttext1{
    font-family: 'Rubik', sans-serif;
   font-size: large;
   font-weight: bold;
   text-align: left;
   position: relative;
   left: -678px;
   bottom: -28px;
  }
  #Gosho{
    display: flex;
    position: relative;
    margin-left: -150px;
    margin-top: -100px;
    height: 300px;
    width: 850px;
    left:-678px;
    bottom:-28px;
    border-radius:9%;
  }
  .abouttext2{
    font-family: 'Rubik', sans-serif;
   font-size: large;
   font-weight: bold;
   text-align: left;
   position: relative;
   left: -280px;
   bottom:425px;
  }
  #Mitko{
    display: flex;
    position: relative;
    margin-left: -150px;
    margin-top: -100px;
    height: 300px;
    width: 850px;
    left:-280px;
    bottom:425px;
    border-radius:9%;
  }
  .abouttext3{
    font-family: 'Rubik', sans-serif;
   font-size: large;
   font-weight: bold;
   text-align: left;
   position: relative;
   left: 125px;
   bottom:417px;
   top:-882px;
  }
  #Aleks{
    display: flex;
    position: relative;
    height: 300px;
    width: 850px;
    left:125px;
    bottom:417px;
    top:-882px;
    border-radius:9%;
  }
  .abouttext4{
    font-family: 'Rubik', sans-serif;
    font-size: large;
    font-weight: bold;
    text-align: left;
    position: relative;
    left: 530px;
    bottom:417px;
    top:-1339px;
   }
  
  #Milko{
    display: flex;
    position: relative;
    height: 300px;
    width: 850px;
    left:530px;
    bottom:417px;
    top:-1339px;
    border-radius:9%;
  }
  .image_description{
    font-size: 25px;
    font-family: 'Barlow', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.footer-about {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  position:relative;
  left: 0;
  top: -1050px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 'Rubik', sans-serif;
}
.footer-about {
  flex-basis: 30%;
}
.footer-about h3 {
  margin-bottom: 10px
}