body {
    background: url('images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar, .content {
    border: 1px solid black;
    margin: 10px;
    background-color: #bbabf3;
}
.content {
    padding: 20px;
}

.content p {
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding-top: 50px;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 50px;
}
  
.grid-item {
    background-color: #bbabf3;
    padding: 100px;
    border: 1px solid black;
    text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

body {
    background-color: #82a6f3;
  }
  
  #cover {
    width: 500px;
    height: 500px;
    margin: 0 auto;
  }
  
  #cover > img {
    float: left;
    border: 3px solid black;
    width: 45%;
    margin: 1.66%;
  }
  

